name: Build and deploy dotnet core project to Azure Function App - auth-voteop

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: 'src'    # <<< POINT TO YOUR PROJECT FOLDER
  PROJECT_FILE: 'src/VoteOp.AuthApi.csproj'
  DOTNET_VERSION: '8.0.x'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup DotNet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore + Build
        run: |
          dotnet restore ${{ env.PROJECT_FILE }}
          dotnet build ${{ env.PROJECT_FILE }} --configuration Release --output ./output

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_87D7AFFC5D574B03BC76B5AA80027C84 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_7FD7B0099B0E46439A12B05E4E570116 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_0CDDCF5CDA8F423984EE2BCFA09A467F }}

      - name: Deploy to Azure Function App
        uses: Azure/functions-action@v1
        with:
          app-name: 'auth-voteop'
          package: './output'